{% extends 'base.html' %}

{% block header %}
  <header>
      <div class="container" id="maincontent" tabindex="-1">
          <div class="row">
              <div class="col-xs-12">
                  <div class="intro-text">
                      <h1 class="name">CS4590 Group 2 Project</h1>
                      <img class="img-responsive" src="/static/img/duck.png" style = "display: block; margin-left: auto; margin-right: auto;">
                      <hr class="star-light">
                      <span class="skills">Stanislaus Bird Encyclopedia</span>
                  </div>
              </div>
          </div>
      </div>
  </header>
{% endblock %}
